.after_video {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
}
.after_videoss {
    padding-top: 120px;
}
.adobe_after{
    padding-top: 60px;
    font-weight: normal;
    font-size: 38px;
    letter-spacing: 1px;
    color: #202329;
    font-family: 'Montserrat',sans-serif;
}
.adobe_animate{
    padding-top: 100px;
    font-weight: normal;
    font-size: 50px;
    letter-spacing: 1px;
    color: white;
    font-family: 'Montserrat',sans-serif;
}
.adobe_animatess {
    padding-top: 100px;
    font-weight: normal;
    font-size: 44px;
    letter-spacing: 1px;
    color: white;
    font-family: 'Montserrat',sans-serif;
    border-bottom: none;
}

.adobe_animatess a :hover{
    color: gray;
}


h5.strong{
    text-align: left;
    font-size: 17px;
    font-weight: bold;
    color: #02848a;
    font-family: inherit;
    padding-bottom: 10px;
}

strong{
    text-shadow: 1px 0;
}

.adobe_anim{
    padding-top: 100px;
    font-weight: normal;
    font-size: 40px;
    letter-spacing: 1px;
    color: white;
    font-family: 'Montserrat',sans-serif;
}
.animate_form{

    padding-top: 10px;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 1px;
    color: white;
    font-family: 'Montserrat',sans-serif;
}
.adobe_animass {
    padding-top: 10px;
    font-weight: normal;
    letter-spacing: 1px;
    text-shadow: 1px 0;
    color: white;
    font-family: 'Montserrat',sans-serif;
    border-bottom: none;
}

.adobe_animass a :hover{
    color: gray;
}

#myNavbar ul{
    padding-top: 5px;
}
li{
    line-height: 1.5;
}
.moredetails{
    max-width: 100%;
    padding: 14px 50px 14px 50px;
    background-color:  #00969d;
    border: none;
    color: white;
    font-size: 18px;
    font-family: 'Montserrat',sans-serif;
}
.charwith{
    max-width: 100%;
    padding: 14px 50px 14px 50px;
    background-color: #5fb070;
    border: none;
    color: white;
    font-size: 18px;
    font-family: 'Montserrat',sans-serif;
}
.phonenumber{
    max-width: 100%;
    padding: 14px 50px 14px 50px;
    background-color: #bfd532;
    border: none;
    color: white;
    font-size: 18px;
    font-family: 'Montserrat',sans-serif;
}

.phonenumberses{
    max-width: 100%;
    padding: 14px 50px 14px 50px;
    background-color: #bfd532;
    border: none;
    color: white;
    font-size: 18px;
    font-family: 'Montserrat',sans-serif;
}
.enquire{
    max-width: 100%;
    padding: 14px 50px 14px 50px;
    background-color: #e8341b;
    border: none;
    color: white;
    font-size: 18px;
    font-family: 'Montserrat',sans-serif;
}
.moredetails .charwith .phonenumber .enquire a:hover {
    opacity:0.22;
    background-color: dimgrey;
}
.choose_your{
    height: 2930px;
    background-color: #eaeaea;
    padding-left: 10px;
}

.course_information{
    font-weight: 500 !important;
    font-family: 'Montserrat',sans-serif;
    padding-top: 30px;
    padding-left: 50px;
}

.course_inform{
    font-weight: 500 !important;
    font-family: 'Montserrat',sans-serif;
    padding-left: 50px;
    padding-bottom: 50px;
}
.description{
    font-weight: 500 !important;
    font-family: 'Montserrat',sans-serif;
    color: #202329;
    font-size: 26px;
    font-style: normal;
    margin-top: 30px;
    margin-bottom:5px;
}
.course_information_paragraph{
    font-family: 'Karla',sans-serif;
    line-height: 1.5;
    color:#8a8b8c;
    font-size: 16px;
    padding-bottom: 15px;
}

.certification_paragraph{
    font-family: 'Karla',sans-serif;
    line-height: 1.5;
    color:black;
    font-size: 16px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.certification_para{
    font-family: 'Karla',sans-serif;
    line-height: 1.5;
    color:black;
    font-size: 16px;
    padding-top: 75px;
    padding-bottom: 20px;
}



.bespoke_para{

}


.course_information_paragraphs{
    font-family: 'Karla',sans-serif;
    line-height: 1.5;
    color:#8a8b8c;
    font-size: 15px;
    padding-bottom: 20px;
}
.certification_color{
    background-color: #f4f4f4;
}
.learn{
    text-align: center;
    font-size: 32px;
}
.enquirenow{
    font-size: 24px;
    padding-bottom: 20px;
}

.right{
    margin: 10px;
}
.london{
    font-size: 8px;
}

.work_faster{
    background-color: #2e313a;
    padding-bottom: 20px;
    padding-top: 20px;
}
.course_time{
    background-color: #0c3b4d;
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: center;
}

.assessment{
    color: black;
    max-width: 100%;
    padding: 18px 20px 20px 20px;
    background-color: white;
    border: none;
    font-size: 13px;
    font-family: 'Montserrat',sans-serif;
}
  .assessment a :hover {
    opacity: 0.9;
      color: gray;
}

.still_save {
    color: #008080;
    font-size: 24px;
    letter-spacing: 1px;
    font-family: 'Montserrat',sans-serif;
}
.adobe{
    width: 500px;
    height: 350px;
    }
.adobe{
    padding-top: 2.5em;
    max-width: 100%;
    padding-left: 25px;
}
.btnns {
    background-color:#8aa324;
    color: white;
    padding: 6px 6px;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    opacity: 0.6;

}
.btn a :hover{
 color: #8aa324;
}

.descriptionss{
    font-weight: 500 !important;
    font-family: 'Montserrat',sans-serif;
    color: #202329;
    font-size: 18px;
    font-style: normal;
    margin-bottom:10px;
}
.beginner{
    color: #008080;
    font-size: 22px;
    padding-top: 30px;
}
.rate{
    padding-top:50px;
    padding-bottom: 50px;
    color: lightgray;
    font-size: 14px;
}

.star-rating{
    color:  #8aa324;
}
.course_leaves{
    padding-top: 30px;
}
.single_course{
    padding-top: 30px;
    padding-bottom: 30px;
    color: dimgray;
    line-height: 1px;
    font-size: 18px;
}
.yellow{
    font-size: 20px;
}
.package{
    font-size: 16px;
    color: #008080;
    padding-bottom: 1.5em;
}
.packagese{
    font-size: 18px;
    color: #008080;
    line-height: 1.5;
    padding-bottom: 1.5em;
}
.iframe{
    width: 100%;
    height: 380px;
}
.iframeses{
    width: 100%;
    height: 300px;
}
.frank{
    padding-bottom:8.5em;
}
.to_learn{
    text-align: center;
}
.descript{
    padding-top: 50px;
    padding-left: 32px;
    font-weight: 500 !important;
    font-family: 'Montserrat',sans-serif;
    color: #202329;
    font-size: 18px;
    font-style: normal;
    margin-bottom:10px;
}

.common_bg_styless {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.log_form{
    background-color: #202329;
    padding-top: 50px;
    width: 100%;
    height: 730px;
}

.share_with{
    background-color: white;
    width: 100%;
    height: 240px;
}
.enq{
    color: white;
    padding-top: 50px;
    padding-bottom: 40px;
    font-size: 32px;
    text-align: center;
}

.share{
    color: black;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 20px;
    text-align: center;
}

.input{
    background-color: #383d46;
    color: white;
    border: 0;
}

.images_icon{
    text-align: center;
    padding-bottom: 40px;
}
.twitter{
    padding-bottom: 30px;
}
.more_info{
    font-size: 16px;
    color: #c5d43e;
}
.more_infoa :hover{
    color: white;
}
.unreal_img{
    max-width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.unreal_img{
    max-width: 100%;
    width: 350px;
}
.letter_adobe{
    font-size:14px;
}
.adobe_courses{
    font-size: 50px;
}
.bespoke_courses{
    background-color: white;
    width: 100%;
    height: auto;
}

.bespoke_courses{
    font-size: 46px;
    line-height: 1.13;
    text-align: center;
    padding-top:30px;
    padding-bottom: 30px;
    color: #202329;
}
.bespoke_bg{
    background-color: #e8e8e8;
}
.search-field{
    padding: 12px 60px 12px 60px;
    font-size: 12px;
}

.photoid_exam{
    font-size: 16px;
    color: red;
}
.get_certified{
    background-color:#4dbeea;
    width: 100%;
    height: 450px;
}
.cups{
    padding-top: 40px;
}
.cup{
    font-size: 30px;
}
.Benefits_yourcoure{

}
.career{
    width: 100%;
    height: auto;
    color: #a1a1a1;
    font-size: 16px;
    font-family: kerla;
    line-height: 1.5;
    background-color: white;
    padding-left: 8%;
    padding-right: 10%;
    padding-bottom: 60px;
}
.career{
   width: 90%;
}

.bespoke{
    background-color: white;
    height: 700px;
}
.process{
    width: 80%;
    line-height: 1.5;
}
.girl_img{
    background-color: white;
    width: 100%;
    padding-bottom: 9.5em;
}
.theprocess{
    width: 100%;
    margin: 25px;
    color: gray;
    font-size: 30px;
    line-height: 2.5;
    padding-bottom: 40px;
    padding-top: 40px;
}

.sid{
   text-indent: 24px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    background-color:white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    opacity: 0.9;
    color: black;
}

h2 a:hover {
    opacity: 0.9;
    color: black;
}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}






.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}

* {
    box-sizing: border-box;
}

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    color: black;
    box-sizing: border-box;
    resize: vertical;
}

input[type=date], select, textarea{
    width: 100%;
    padding: 12px;
    font-size: 13px;
    color: black;
    box-sizing: border-box;
    resize: vertical;
}

input[type=password], select, textarea{
    width: 100%;
    padding: 12px;
    color: black;
    font-size: 13px;
    box-sizing: border-box;
    resize: vertical;
}

input[types=text] {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    color:white;
    box-sizing: border-box;
    resize: vertical;
}



label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: green;
    color: white;
    padding: 15px 30px 15px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-style: initial;

}


input[type=reset] {
    background-color: darkmagenta;
    color: white;
    padding: 15px 30px 15px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-style: initial;


}

input[type=submit]:hover {
    background-color: burlywood;
}


.sizes{
    font-size: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.sizeses{
    font-size: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
    color:silver;
}

.star-rating{
    font-size: 26px;
    color: red;
}
.button_submit{
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 14px;
    text-align: center;
    font-style: initial;

}

.table_size{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 12px;
    text-align: center;
    font-style: initial;

}
.boldtable{
    color: black;
    text-shadow: 1px 0;
    font-size: 20px;
    font-style: initial;
}

.table_size{
    max-width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    font-style: initial;

}
.error_font{
    font-size: 16px;
}

.admin_button{
    height: 300px;
}


table, td, th {
    border: 1px solid #ddd;
    text-align: left;
    font-size: 14px;
    font-style: initial;

}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    font-style: initial;


}
th, td {
    padding: 15px;
    font-size: 14px;
    font-style: initial;

}
.emp{
    padding-top: 50px;
    padding-bottom: 50px;
    border: 5px;
    border-color: chocolate;
    font-style: initial;

}
.color_certify{
    background-color: lightsteelblue;
}
.buttons {
    background-color: saddlebrown; /* Green */
    border: none;
    font-style: initial;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.buttons1 {border-radius: 2px;}
.buttons2 {border-radius: 4px;}
.buttons3 {border-radius: 8px;}
.buttons4 {border-radius: 12px;}
.buttons5 {border-radius: 50%;}

* {
    box-sizing: border-box;
}
.fpr{
    padding-top: 30px;
    padding-bottom: 30px;
}

.staff_form{
    background-color: #202329;
    padding-top: 20px;
    padding-bottom: 15px;
}
.input_color{
    background-color:#383d46;
  border-color:#383d46;
    border:none;
}
.student_subhead{
    margin-top: unset;
    margin-bottom: auto;
}
.welcome{
    font-size: 14px;
    color: white;
    padding: 10px;
    text-shadow: 1px 0;
}
.welcomekbas{
    font-size: 14px;
    color: white;
    text-shadow: 1px 0;
    padding-left: 70px;
}
.right_logout{
    float: right;
}

.logout{
    text-align: right;
    font-size: 14px;
    color: white;
    text-shadow: 1px 0;
    text-indent: 40px;
   padding-right:15px;

}

.logoutcer{
    text-align: center;
    font-size: 18px;
    color: white;
    text-shadow: 2px 0 red;
    padding-right:100px;

}
.student_login{
    float: right;
}

value{
    color: black;
}

.register_content{
    padding-top: 60px;
    padding-bottom: 20px;
}
.staff_register{
    padding-top: 25px;
}
.certifi_kabs{
    float: left;
    font-size: 30px;
}
.cert_para{
    padding-top: 30px;
    font-size: 18px;
    color: black;
    word-spacing: 3px;
    text-indent: 50px;
    line-height: 1.5;
    font-style: inherit;
}
.cert_parase{
    padding-top: 30px;
    font-size: 18px;
    color: black;
    word-spacing: 3px;
    text-indent: 90px;
    line-height: 1.5;
    font-style: inherit;

}
.issue{
    padding-top: 50px;
    padding-bottom: 100px;
}

.certification_border {
    border-width:2px;
    border-style:solid;
}
.borderimage{
    padding-top: 50px;
    padding-bottom: 50px;
}

.buttonss {
    background-color: lightgrey; /* Green */
    border: none;
    font-style: initial;
    color: gray;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.buttonss1 {border-radius: 2px;}
.buttonss2 {border-radius: 4px;}
.buttonss3 {border-radius: 8px;}
.buttonss4 {border-radius: 12px;}
.buttonss5 {border-radius: 50%;}

.login_display{
    font: inherit;
    color: gray;
    padding: 5px;
    font-size: 14px;
}

.login_displays{
    font: inherit;
    color: #383d46;
    padding: 5px;
    font-size: 14px;
}
.profile{
    width: 100%;
    background-color: lemonchiffon;
    padding-top: 60px;
    padding-bottom: 95px;
}

.form_color{
    padding-top: 25px;
    padding-bottom: 25px;
}
